ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: black;
    text-align: center;
    list-style-type:none;
    height: 50px;
    
}
a,li{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
